<form name="frmFormula" action="{FORMACTION}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{QUESTION_ID}" />
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="2">{TEXT_QUESTION_TYPE}</th>
	</tr>
</thead>
<tr>
  <td class="option">{TEXT_TITLE}<span class="asterisk">*</span></td>
  <td class="option_value"><input name="title" type="text" value="{VALUE_TITLE}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span></td>
  <td class="option_value"><input name="author" type="text" value="{VALUE_AUTHOR}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_COMMENT}</td>
  <td class="option_value"><input name="comment" type="text" value="{VALUE_COMMENT}" id="comment" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_QUESTION}<span class="asterisk">*</span></td>
  <td class="option_value"><textarea name="question" id="question" rows="10" cols="80" wrap="virtual" style="width:95%;">{VALUE_QUESTION}</textarea></td>
</tr>
<tr>
  <td class="option">{TEXT_WORKING_TIME}<br />({TIME_FORMAT})</td>
  <td class="option_value">{VALUE_WORKING_TIME} </td>
</tr>
<tr>
	<td class="option">{TEXT_SOLUTION_HINT}</td>
	<td class="option_value">
		<input type="hidden" name="solution_hint" value="{VALUE_SOLUTION_HINT}" />
		{TEXT_VALUE_SOLUTION_HINT}
<!-- BEGIN remove_solution -->
		<input type="submit" class="submit" name="cmd[removeSuggestedSolution]" value="{BUTTON_REMOVE_SOLUTION}" />
<!-- END remove_solution -->
		<input type="submit" class="submit" name="cmd[addSuggestedSolution]" value="{BUTTON_ADD_SOLUTION}" />
		<select name="internalLinkType">
<!-- BEGIN internallink -->
		<option value="{TYPE_INTERNAL_LINK}">{TEXT_INTERNAL_LINK}</option>
<!-- END internallink -->
		</select>
	</td>
</tr>
<tr>
	<td class="submit" colspan="2">
		<div align="right"><input type="submit" class="submit" name="cmd[parseQuestion]" value="{PARSE_QUESTION}" /></div>
	</td>
</tr>
</table>
<!-- BEGIN variables -->
<table class="fullwidth">
	<thead>
		<tr class="tblheader">
			<th colspan="6">{TEXT_VARIABLES}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tblrow1"></td>
			<td class="tblrow1">{TEXT_RANGE_MIN}</td>
			<td class="tblrow1">{TEXT_RANGE_MAX}</td>
			<td class="tblrow1">{TEXT_UNIT}</td>
			<td class="tblrow1">{TEXT_PRECISION}</td>
			<td class="tblrow1">{TEXT_INTPRECISION}</td>
		</tr>
<!-- BEGIN variable -->		
		<tr>
			<td class="tblrow1">{TEXT_VARIABLE}</td>
			<td class="tblrow1"><input type="text" class="numeric" size="12" name="range_min_{TEXT_VARIABLE}" {VALUE_RANGE_MIN} /></td>
			<td class="tblrow1"><input type="text" class="numeric" size="12" name="range_max_{TEXT_VARIABLE}" {VALUE_RANGE_MAX} /></td>
			<td class="tblrow1">{VARIABLE_UNIT}</td>
			<td class="tblrow1"><input type="text" class="numeric" size="4" name="precision_{TEXT_VARIABLE}" {VALUE_PRECISION} /></td>
			<td class="tblrow1"><input type="text" class="numeric" size="4" name="intprecision_{TEXT_VARIABLE}" {VALUE_INTPRECISION} /></td>
		</tr>
<!-- END variable -->		
	</tbody>
</table>
<!-- END variables -->
<!-- BEGIN results -->
<table class="fullwidth">
	<thead>
		<tr class="tblheader">
			<th colspan="8">{TEXT_RESULTS}</th>
		</tr>
	</thead>
	<tbody>
<!-- BEGIN result -->		
<!-- BEGIN result_header -->
		<tr>
			<td class="tblrow1"></td>
			<td class="tblrow1">{TEXT_RANGE_MIN}</td>
			<td class="tblrow1">{TEXT_RANGE_MAX}</td>
			<td class="tblrow1"></td>
			<td class="tblrow1">{TEXT_TOLERANCE}</td>
			<td class="tblrow1">{TEXT_UNIT}</td>
			<td class="tblrow1">{TEXT_PRECISION}</td>
			<td class="tblrow1">{TEXT_POINTS}</td>
		</tr>
<!-- END result_header -->
		<tr>
			<td class="tblrow1">{TEXT_RESULT}</td>
			<td class="tblrow1"><input type="text" class="numeric" size="12" name="range_min_{TEXT_RESULT}" {VALUE_RANGE_MIN} /></td>
			<td class="tblrow1"><input type="text" class="numeric" size="12" name="range_max_{TEXT_RESULT}" {VALUE_RANGE_MAX} /></td>
			<td class="tblrow1"><input type="submit" class="submit" name="cmd[suggestrange_{TEXT_RESULT}]" value="{TEXT_SUGGEST_RANGE}" /></td>
			<td class="tblrow1"><input type="text" class="numeric" size="4" name="tolerance_{TEXT_RESULT}" {VALUE_TOLERANCE} /></td>
			<td class="tblrow1">{RESULT_UNIT}</td>
			<td class="tblrow1"><input type="text" class="numeric" size="3" name="precision_{TEXT_RESULT}" {VALUE_PRECISION} /></td>
			<td class="tblrow1"><input type="text" class="numeric" size="3" name="points_{TEXT_RESULT}" {VALUE_POINTS} /></td>
		</tr>
		<tr>
			<td class="tblrow1"></td>
			<td class="tblrow1" colspan="7">
				{TEXT_FORMULA}: {TEXT_RESULT} = <input type="text" style="width: 80%;" name="formula_{TEXT_RESULT}" {VALUE_FORMULA} />
			</td>
		</tr>
		<tr>
			<td class="tblrow1"></td>
			<td class="tblrow1">
				<input type="checkbox" value="1" name="rating_simple_{TEXT_RESULT}" id="rating_simple_{TEXT_RESULT}" {CHECKED_RATING_SIMPLE}{DISABLED_RATING_SIMPLE} /><!-- BEGIN force_simple_rating --><input type="hidden" name="rating_simple_{TEXT_RESULT}" value="1"><!-- END force_simple_rating --> <label for="rating_simple_{TEXT_RESULT}">{TEXT_RATING_SIMPLE}</label>
			</td>
			<td class="tblrow1"><span id="rating_sign_{TEXT_RESULT}">{TEXT_RATING_SIGN}: <input type="text" size="4" name="rating_sign_{TEXT_RESULT}"{VALUE_RATING_SIGN} /> %</span></td>
			<td class="tblrow1"><span id="rating_value_{TEXT_RESULT}">{TEXT_RATING_VALUE}: <input type="text" size="4" name="rating_value_{TEXT_RESULT}"{VALUE_RATING_VALUE} /> %</span></td>
			<td class="tblrow1" colspan="3"><span id="rating_unit_{TEXT_RESULT}">{TEXT_RATING_UNIT}: <input type="text" size="4" name="rating_unit_{TEXT_RESULT}"{VALUE_RATING_UNIT} /> %</span></td>
			</td>
			<td class="tblrow1"></td>
		</tr>
		<tr>
			<td class="tblrow1"></td>
			<td class="tblrow1" colspan="7">
				<p>{TEXT_AVAILABLE_RESULT_UNITS}</p>
				<p>{POPUP_AVAILABLE_UNITS}</p>
			</td>
		</tr>
<!-- END result -->		
	</tbody>
</table>
<!-- END results -->
<table class="fullwidth">
	<tr>
		<td class="submit">
			<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
			<div align="right">
				<input name="cmd[save]" type="submit" class="submit" id="save" value="{SAVE}" /> <input name="cmd[saveEdit]" type="submit" class="submit" value="{SAVE_EDIT}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
			</div>
		</td>
	</tr>
</table>
</form>
<script language="javascript" type="text/javascript">
	function ratingChange(event)
	{
		checked = this.checked;
		strChecked = "visible";
		if (checked)
		{
			strChecked = "hidden";
		}
		result = this.id.substr("rating_simple_".length);
		elem = YAHOO.util.Dom.get("rating_sign_" + result);
		elem.style.visibility = strChecked;
		elem = YAHOO.util.Dom.get("rating_value_" + result);
		elem.style.visibility = strChecked;
		elem = YAHOO.util.Dom.get("rating_unit_" + result);
		elem.style.visibility = strChecked;
	}

<!-- BEGIN initialize -->
	YAHOO.util.Event.onDOMReady(function() {
<!-- BEGIN initrating -->		
		elem = YAHOO.util.Dom.get("rating_sign_{RESULT}");
		elem.style.visibility = "{VISIBILITY}";
		elem = YAHOO.util.Dom.get("rating_value_{RESULT}");
		elem.style.visibility = "{VISIBILITY}";
		elem = YAHOO.util.Dom.get("rating_unit_{RESULT}");
		elem.style.visibility = "{VISIBILITY}";
		YAHOO.util.Event.addListener("rating_simple_{RESULT}", "change", ratingChange);
<!-- END initrating -->		
	});
	
<!-- END initialize -->
</script>
